<mat-card class="card" *ngIf="todo">
  <mat-card-header>
    <mat-card-title>{{ todo.title }}</mat-card-title>
    <mat-card-subtitle>{{ todo.description }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content> </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onCompleteTodo()">
      <span *ngIf="todo.isCompleted">Not </span>Complete
    </button>
    <button mat-raised-button color="warn" (click)="onArchiveTodo()">
      <span *ngIf="todo.isArchived">Not </span>Archive
    </button>
  </mat-card-actions>
</mat-card>
